body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* Menu Bar */

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.name h1 {
    font-size: 30px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.menu a:hover {
    color:blue;
}

.dropdownPerson,
.dropdownInterest {
    position: relavtive;
    display: inline-block;
}

.activePerson:hover {
    color: blue;
}
.activeInterest:hover {
    color: blue;
}

.dropdownPerson:hover .dropdownPersonContent {
    display: flex;
    gap: 40px;
    padding-top: 20px;
}
.dropdownInterest:hover .dropdownInterestContent {
    display: flex;
    gap: 40px;
    padding-top: 20px;
}

.dropdownPersonContent {
    display: none;
    position: absolute;
    transform: translateX(-15%);
    z-index: 1;
}
.dropdownInterestContent {
    display: none;
    position: absolute;
    transform: translateX(-35%);
    z-index: 1;
}

.dropdownPersonContent a {
    padding: 5px;
    border: 2px solid black;
    border-radius: 30px;
}

.dropdownInterestContent a {
    padding: 5px;
    border: 2px solid black;
    border-radius: 30px;
}

.location p{
    font-size: 30px;
}