body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Overlock';
}

/* Menu Bar */

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.name h1 {
    font-size: 30px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.menu a:hover {
    text-decoration: underline;
}

.dropdownPerson,
.dropdownInterest {
    position: relavtive;
    display: inline-block;
}

.activePerson:hover {
    text-decoration: underline;
}
.activeInterest:hover {
    text-decoration: underline;
}

.dropdownPerson:hover .dropdownPersonContent {
    display: flex;
    gap: 40px;
    padding-top: 20px;
}
.dropdownInterest:hover .dropdownInterestContent {
    display: flex;
    gap: 40px;
    padding-top: 20px;
}

.dropdownPersonContent {
    display: none;
    position: absolute;
    transform: translateX(-15%);
    z-index: 1;
}
.dropdownInterestContent {
    display: none;
    position: absolute;
    transform: translateX(-35%);
    z-index: 1;
}

.dropdownPersonContent a {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 30px;
}

.dropdownInterestContent a {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 30px;
}

.location h1{
    font-size: 30px;
}

/* Main Body */

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.introPhoto {
    width: 220px;
    height: 220px;
    border-radius: 50%; 
    object-fit: cover;
    cursor: zoom-in;
}

.introPhoto.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    cursor: zoom-out;
}

.introText h1 {
    font-size: 50px;
}
.introText p {
    font-size: 30px;
    text-indent: 50px;
}

.background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.backgroundText h1 {
    font-size: 50px;
}
.backgroundText p {
    font-size: 30px;
    text-indent: 50px;
}

.backgroundPhoto {
    width: 220px;
    height: 350px;
    border-radius: 10%; 
    object-fit: cover;
    cursor: zoom-in;
}

.backgroundPhoto.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    cursor: zoom-out;
}

.future {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 60px;
}

.futurePhoto {
    width: 500px;
    height: 300px;
    border-radius: 10%; 
    object-fit: cover;
    cursor: zoom-in;
}

.futurePhoto.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    cursor: zoom-out;
}

.futureText h1 {
    font-size: 50px;
}
.futureText p {
    font-size: 30px;
    text-indent: 50px;
}

/* Footer */

.preFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.preFooter h1 {
    font-size: 25px;
}

.contactExternals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.iconPhone,
.iconEmail,
.iconLinkedin,
.iconGithub,
.iconYoutube,
.iconChess,
.iconResume {
    width: 80px;
    height: 80px;
    border-radius: 50%;  
}