body {
    background: white;
    font-family: 'Trebuchet MS', sans-serif;
    width:1200px;
    height:700px;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: center;
    gap: 40;
    margin-top: 160px;
    padding: 0 20px;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.introText h1 {
    font-size: 40px;
}

.introText p {
    font-size: 20px;
}

